<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" /> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <div class="d-flex">
      <div class="menu">
        <div>
          <h1>
            <a href="#" class="logo">Logo</a>
          </h1>
          <ul class="p-0">
            <li>
              <span class="material-icons">
                assessment
              </span>
              <h2>Dashboard</h2>
            </li>
            <li>
              <span class="material-icons">
                question_answer
              </span>
              <h2>Question</h2>
            </li>
            <li>
              <span class="material-icons">
                assignment
              </span>
              <h2>Assignment</h2>
            </li>
            <li>
              <span class="material-icons">
                video_library
              </span>
              <h2>Course</h2>
            </li>
            <li>
              <span class="material-icons">
                people
              </span>
              <h2>Admin</h2>
            </li>
            <li>
              <span class="material-icons">
                settings
              </span>
              <h2>Settings</h2>
            </li>
          </ul>
        </div>
        <div class="user">
          <img src="./assets/images/andychen.jpeg" alt="avatar" class="avatar">
          <div>
            <h4 class="mb-0">Andy Chen</h4>
            <p class="mb-0">andy0401@mail.com</p>
          </div>
        </div>
      </div>
      <div class="main"><%- contents %></div>
    </div>


    

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>